In [7]:
import pandas as pd
import numpy as np

In [8]:
categ=['bedroom','livigroom','kichen','office', 'lighting','dining','outdoor']

In [9]:
BedroomProducts=['bed','bedfram',"bedside table","study table","cabinets","mirrors","wardrobe","carpets"]
livingroomProducts=['coffee table','sofa','chire','armchair','table','curtains','artwork']
kichenproduct=['cabinets','bar stools','chairs','fridge fram ','cup board','shelf','sink']
officeproduct=['desks','chairs','armchair','storage']
ligtingproduct=['office lamp','bathlight','sptlights','triple pendant','single pendant','wall light','down light','floor lamp']
diningroomproduct=['chair', 'table','drawer','plate','cabinet', 'mirror']
outdoorproduct=['bench','table','sofa','beach chair','sunlounger','pergola']

In [10]:
maxCatg=[]
for i in range(0,21936):
    maxCatg.append(np.random.choice(categ, p=[0.20, 0.30,0.20,0.05,0.07,0.15,0.03]))

In [11]:
maxProd=[]
for i in range(0,21936):
    if maxCatg[i] == 'bedroom':
        maxProd.append(np.random.choice(BedroomProducts,p=[0.25, 0.05,0.15,0.03,0.15,0.10,0.07,0.20]))
    elif maxCatg[i] == 'livigroom':
        maxProd.append(np.random.choice(livingroomProducts,p=[0.05, 0.30,0.20,0.10,0.20,0.05,0.10]))
    elif maxCatg[i] == 'kichen':
        maxProd.append(np.random.choice(kichenproduct,p=[0.25, 0.10,0.20,0.15,0.05,0.10,0.15]))
    elif maxCatg[i] == 'office':
        maxProd.append(np.random.choice(officeproduct,p=[0.30, 0.20,0.20,0.30]))
    elif maxCatg[i] == 'lighting':
        maxProd.append(np.random.choice(ligtingproduct,p=[0.25, 0.10,0.10,0.15,0.15,0.05,0.10,0.10]))
    elif maxCatg[i] == 'dining':
        maxProd.append(np.random.choice(diningroomproduct,p=[0.20, 0.30,0.15,0.15,0.10,0.10]))
    elif maxCatg[i] == 'outdoor':
        maxProd.append(np.random.choice(outdoorproduct,p=[0.15, 0.20,0.10,0.05,0.30,0.20]))
    else:
        maxProd.append(np.nan)

In [12]:
DaysOnApp=[]
for i in range(0,21936):
    DaysOnApp.append(int(np.random.exponential(1091)))

In [13]:
totalOrdersNumbers=[]
for i in range(0,21936):
    if DaysOnApp[i]<90:
        totalOrdersNumbers.append(int(np.random.exponential(10)))
    else:
        totalOrdersNumbers.append(int(np.random.exponential(30)))

In [38]:
totalPay=[]
for i in range(0,21936):
    if totalOrdersNumbers[i]==0:
        totalPay.append(0)
    elif totalOrdersNumbers[i]>=1 & totalOrdersNumbers[i]<4:
        totalPay.append(np.random.choice(np.arange(100,25000)))
    elif totalOrdersNumbers[i]>=4 & totalOrdersNumbers[i]<10:
        totalPay.append(np.random.choice(np.arange(5000,50000)))
    elif totalOrdersNumbers[i]>=10 :
        totalPay.append(np.random.choice(np.arange(10000,100000)))

In [39]:


df = pd.DataFrame(
        {
            "DaysOnApp":DaysOnApp,
            "maxCategory": maxCatg,
            "maxProduct": maxProd,
            "totalOrdersNumbers":totalOrdersNumbers,
            "totalPay":totalPay    
        }
        
)

In [43]:
df=df[df['totalOrdersNumbers']!=0]
df

       DaysOnApp maxCategory      maxProduct  totalOrdersNumbers  totalPay
1            889   livigroom            sofa                  33     14803
2            164     bedroom             bed                  21     21000
3            651   livigroom        armchair                  12      8127
4              5   livigroom           table                  13     14555
5           1032     bedroom         carpets                  60      8519
...          ...         ...             ...                 ...       ...
21931       3904     bedroom         carpets                   7       935
21932       2537      kichen    fridge fram                    5      6610
21933        473      kichen    fridge fram                    3     23539
21934        602    lighting  triple pendant                  19     22909
21935        326    lighting      floor lamp                   5     22583

[21107 rows x 5 columns]

In [44]:
df.to_csv("D:\Downloads\orderDataset.csv", index=False)